
<%- include('partials/_head') %>


<section id="galeria" class="container">

    <div class="row">

        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/sueterVerde.jpg" title="Sueters">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/sueterVerde.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Categoria</div>
                                <div class="project-name">Sueter</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/galleta1.jpg" title="Galletas">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/galleta1.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Categoria</div>
                                <div class="project-name">Galletas de Jengibre</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/juguete2.jpg" title="Juguetes">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/juguete2.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Catergoria</div>
                                <div class="project-name">Juguetes de Madera</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/chocolate2.jpg" title="Chocolates">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/chocolate2.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Catergoria</div>
                                <div class="project-name">Chocolates</div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</section>


<%- include('partials/_footer') %>     